{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "14.19.1"
      }
    }],
    ["@babel/preset-flow"]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-transform-runtime"]
}
